@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(40, 38, 38);
    box-shadow: 0px 3px 10px rgb(73, 63, 63);
    height: 10vh;
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.titulo {
    display: flex;
    align-items: center;
    color: white;
}

.logos {
    width: 50px;
    height: 50px;
    align-items: center;
    margin-right: 0.6vw;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.item {
    margin: 0 15px;
}

.item:hover {
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.contato button {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 15px;
    background-color: rgb(21, 104, 104);
    border-radius: 5px;
}

.contato button:hover {
    color: aqua;
    background-color: rgb(14, 128, 90);
    cursor: pointer;
}

.contato a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-icon button {
    background: transparent;
    border: none;
}

.mobile-menu-icon img {
    align-items: center;
    width: 40px;
    height: 37px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .mobile-menu {
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: rgb(40, 38, 38);
        z-index: 999;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .contato button {
        width: 100%;
    }

    .item {
        display: none;
    }

    .contato {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .contato {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu.open {
        display: block;
    }
}